.header {
  background-color: black;
  color: white;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.transparent {
  background-color: transparent;
  color: black;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: none;
}
.image {
  padding: 1rem 2rem;
}

.nav {
  z-index: 3;
  position: absolute;
  color: white;
  right: 5%;
  background: transparent;
}
.nav a {
  padding: 1rem;
  color: rgb(231, 231, 231);
}
