.header {
  background-color: black;
  color: white;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.transparent {
  background-color: transparent;
  color: black;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  padding: 100px;
  /* Tai xao no khong hoat dong T_T */
}
